<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_VLXDConnectionString" connectionString="Data Source=DESKTOP-J8JE5C3;Initial Catalog=QL_VLXD;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QL_VLXDConnectionString1"
            connectionString="Data Source=DESKTOP-J8JE5C3;Initial Catalog=QL_VLXD;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.QL_VLXDConnectionString2"
            connectionString="Data Source=HPMINHKHANG\MKHANG;Initial Catalog=QL_VLXD;Persist Security Info=True;User ID=sa;Password=123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>